/TrashSlotSaveState.json
/.probe*
/usernamecache.json
/usercache.json
/minecraftinstance.json
/modlist.html
/options.txt
/.curseclient
/command_history.txt
/manifest.json
/patchouli_data.json
/realms_persistence.json
/shaderpacks*
/screenshots*
/schematics*
/saves*
/resourcepacks*
/patchouli_books*
/mods*
/moddata*
/logs*
/local*
/journeymap*
/fancymenu_data*
/ESM*
/downloads*
/debug*
/data*
/crash-reports*
/backups*
/.vscode*
config/jei/world/*
.probe
/knownkeys.txt
/emi.json