gem_finder {
    S:targets <
        #c:ores/amethyst, 0xFFa477ee, amethyst
        minecraft:budding_amethyst:*, 0xFFa477ee, amethyst
        #c:ores/anglesite, 0xFF965200, anglesite
        #c:ores/benitoite, 0xFF008f84, benitoite
        #c:ores/black_quartz, 0xFF191b26, black_quartz
        ae2:chipped_budding_quartz:*, 0xFFaae6fc, certus_quartz
        ae2:damaged_budding_quartz:*, 0xFFaae6fc, certus_quartz
        ae2:flawed_budding_quartz:*, 0xFFaae6fc, certus_quartz
        ae2:flawless_budding_quartz:*, 0xFFaae6fc, certus_quartz
        #c:ores/diamond, 0xFF1eced3, diamond
        #c:ores/dimensional_shard, 0xFF9dfcfb, dimensional_shard
        #c:ores/emerald, 0xFF17da61, emerald
        extendedae:entro_budding_fully:*, 0xFF03b798, entro_crystal
        extendedae:entro_budding_half:*, 0xFF03b798, entro_crystal
        extendedae:entro_budding_hardly:*, 0xFF03b798, entro_crystal
        extendedae:entro_budding_mostly:*, 0xFF03b798, entro_crystal
        #c:ores/fluorite, 0xFFbb8ab8, fluorite
        #c:ores/lapis, 0xFF284282, lapis
        #c:ores/peridot, 0xFF367c0e, peridot
        #c:ores/quartz, 0xFFd1c8b8, quartz
        #c:ores/ruby, 0xFF5a0909, ruby
        #c:ores/sapphire, 0xFF101f5c, sapphire
    >
}
metal_finder {
    S:targets <
        #c:ores/aluminum, 0xFF60607f, aluminum
        #c:ores/copper, 0xFFb15b3d, copper
        #c:ores/draconium, 0xFF380f5c, draconium
        #c:ores/gold,0xFFc7bc3b, gold
        #c:ores/iron, 0xFFab8a74, iron
        #c:ores/lead, 0xFF2d282f, lead
        #c:ores/netherite_scrap, 0xFF4a2923, netherite
        #c:ores/nickel, 0xFF597e51, nickel
        #c:ores/osmium, 0xFF607189, osmium
        #c:ores/platinum, 0xFF1f7a6e, platinum
        #c:ores/replica, 0xFF3cca60, replica
        #c:ores/silver, 0xFF939a9e, silver
        #c:ores/tin, 0xFFb9b3a4, tin
        #c:ores/uranium, 0xFF36402a, uranium
        #c:ores/zinc, 0xFF96b79d, zinc
    >
}
mineral_finder {
    # List of all blocks the finder should be looking for.
    # The format is <unitId>, <colorARGB> [, <groupName>]
    # 
    # Id is a basic unit (block or item) identifier in <modId:unitName:meta> format.
    # ModId can be omitted for vanilla items. Meta can be omitted too if it equals 0.
    # UnitName must be lowercase, words separated by '_', words order - from particular to general (example: black_iron_ore).
    # Use '*' char or '[]' as meta value to specify all possible values (all block states).
    # To define multiple block states, you can use block properties. The format is <modId:blockName:[prop1=value1, prop2=value2]>
    # Also you may use tags. The format is <#modId:tagPath> (example: #c:ores/copper).
    # 
    # Color in ARGB (Alpha, Red, Green, Blue) hex format (0xaarrggbb)
    # 
    # Group name is necessary for having one needle for each ore group(one needle for all copper ores, one for all gold ores, etc.)
    # If not set then unitName will be used.
    # 
    S:targets <
        #c:ores/coal, 0xFF2b2c25, coal
        #c:ores/electrotine, 0xFF043f65, electrotine
        draconicevolution:infused_obsidian:*, 0xFFb55905, infused_obsidian
        #c:obsidians/normal, 0xFF231732, obsidian
        #c:obsidians/crying, 0xFF4e0587, obsidian_cryng
        #c:ores/redstone, 0xFF970000, redstone
        #c:ores/salt, 0xFF979785, salt
        #c:ores/uraninite, 0xFF02c71f, uraninite
    >
}